// http://www.html5rocks.com/en/tutorials/appcache/beginner/

function update() {
  var formPanel = document.getElementById('formPanel');
  formPanel.innerHTML = '<a class="update-ready" href="javascript:window.location.reload();">A new version of Modular Scale is avalible, click here to refresh.</a>' + formPanel.innerHTML;
}

// Check if a new cache is available on page load.
window.addEventListener('load', function(e) {

  window.applicationCache.addEventListener('updateready', function(e) {
    if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
      // Browser downloaded a new app cache.
      update();
    } else {
      // Manifest didn't changed. Nothing new to server.
    }
  }, false);

}, false);
