function baseList() {
  var baseList = [];

  for (i = 0; i < msBase.length; ++i) {
    baseList.push(msBase[i] + msUnit);
  }
  return baseList;
}

function codeMode(newMode) {
  var codeSettings = document.getElementById('codeSettings');
  if (newMode == 'web') {
    codeSettings.innerHTML = '';
  } else if (newMode == 'sass') {
    codeSettings.innerHTML =
      '<textarea id="ms-settings" onClick="this.select();" rows="4">' +
      '$modularscale: (\n' +
      '  base: ' + msBase + ',\n' +
      '  ratio: ' + msRatio + '\n' +
      ');' +
      '</textarea>' +
      '<a href="https://github.com/modularscale/modularscale-sass" target="_blank" class="code-install">Install the Sass plugin</a>';
  } else if (newMode == 'js') {
    codeSettings.innerHTML =
      '<textarea id="ms-settings" onClick="this.select();" rows="4">' +
      'modularscale = {\n' +
      '  base: [' + msBase + '],\n' +
      '  ratio: ' + msRatio + '\n' +
      '};' +
      '</textarea>' +
      '<a href="https://github.com/modularscale/modularscale-js" target="_blank" class="code-install">Install the JS plugin</a>';
  }

  mode = newMode;
  document.body.className = 'panel-' + panel + ' mode-' + mode + ' ' + help;

  newURL();
}

//   <h6 class="label code">Sass settings</h6>

// <textarea id="ms-settings" onClick="this.select();">msBase: 1em;
// msRatio: 1.3;</textarea>

//   <a href="https://github.com/Team-Sass/modular-scale" target="_blank" class="code-install">Install the Sass plugin</a>
