var abc = ['a','b','c','d'];

function codeBases(t,m) {
  if (m === 'sass') {
    var vals = '';
    for (var i = 0; i < $[t].b.length; i++) {
      vals = vals + ' ' + $[t].b[i] + $[t].u;
    }
    return '  base:' + vals + ',\n';
  }
  else {
    return '  base: [' + $[t].b + '],\n';
  }
}

// Writes the code panel
function codeMode(newMode,l) {
  // Reset base
  getBase();
  // query the setting UI
  var codeSettings = document.getElementById('codeSettings');
  // Default is web, no UI
  if (newMode === 'web') {
    codeSettings.innerHTML = '';
  }
  else {
    var bracket = ['{','}'];
    if (newMode === 'sass') {
      bracket = ['(',')'];
    }
    // Get thread HTML
    var threadHTML = '';
    for (var i = 1; i < $.length; i++) {
      threadHTML = threadHTML +
        ',\n' +
        '  ' + abc[i-1] + ': ' + bracket[0] + '\n' +
        '  ' + codeBases(i,newMode) +
        '    ratio: ' + revRatio($[i].r,$[i].b) + '\n' +
        '  ' + bracket[1] + ''
    }
    var linkHTML = '<a href="https://github.com/modularscale/modularscale-js" target="_blank" class="code-install">Install the JS plugin</a>';
    if (newMode === 'sass') {
      linkHTML = '<a href="https://github.com/modularscale/modularscale-sass" target="_blank" class="code-install">Install the Sass plugin</a>';
    }
    // Write modes HTML
    codeSettings.innerHTML =
      '<textarea id="ms-settings" onClick="this.select();" rows="4">' +
      '$modularscale: ' + bracket[0] + '\n' +
      codeBases(0,newMode) +
      '  ratio: ' + revRatio($[0].r,$[0].b) + threadHTML + '\n' +
      bracket[1] + ';' +
      '</textarea>' +
      linkHTML;
  }
  // Write the new mode as a var
  mode = newMode;
  // Write mode to body class
  document.body.className = 'panel-' + panel + ' mode-' + mode + ' ' + help;
  // Ensure the URL includes the mode
  if (l === undefined) {
    newURL();
  }
}