// Writes the code panel
function codeMode(newMode,l) {
  // query the setting UI
  var codeSettings = document.getElementById('codeSettings');
  // Default is web, no UI
  if (newMode == 'web') {
    codeSettings.innerHTML = '';
  }
  // Sass mode template
  else if (newMode == 'sass') {
    codeSettings.innerHTML =
      '<textarea id="ms-settings" onClick="this.select();" rows="4">' +
      '$modularscale: (\n' +
      '  base: ' + msBase + ',\n' +
      '  ratio: ' + msRatio + '\n' +
      ');' +
      '</textarea>' +
      '<a href="https://github.com/modularscale/modularscale-sass" target="_blank" class="code-install">Install the Sass plugin</a>';
  }
  // JS mode template
  else if (newMode == 'js') {
    codeSettings.innerHTML =
      '<textarea id="ms-settings" onClick="this.select();" rows="4">' +
      'modularscale = {\n' +
      '  base: [' + msBase + '],\n' +
      '  ratio: ' + msRatio + '\n' +
      '};' +
      '</textarea>' +
      '<a href="https://github.com/modularscale/modularscale-js" target="_blank" class="code-install">Install the JS plugin</a>';
  }
  // Write the new mode as a var
  mode = newMode;
  // Write mode to body class
  document.body.className = 'panel-' + panel + ' mode-' + mode + ' ' + help;
  // Ensure the URL includes the mode
  if (l === undefined) {
    newURL();
  }
}