var baseCount = 0;

function addBase() {
  var formBases = document.getElementById('formBases');
  var newBase = document.createElement('label');
  var baseValue = document.getElementsByClassName('base')[0].value;
  newBase.innerHTML = '<input type="text" class="base" value="' + baseValue + '" onkeyup="changeBase(this,event.keyCode)">';

  if (ratioCount == 0 && ratioCount < multiLimit) {
    formBases.appendChild(newBase);
    baseCount++;
  }

  if (baseCount == 1) {
    formBases.classList.add('multi');
    document.getElementById('formRatios').classList.add('no-add');
  }

  if (baseCount == multiLimit) {
    formBases.classList.add('no-add');
  }
}

function removeBase() {
  if (baseCount > 0) {
    document.getElementById('formBases').lastChild.remove();
    baseCount--;
  }

  if (baseCount == 0) {
    formBases.classList.remove('multi');
    document.getElementById('formRatios').classList.remove('no-add');
  }

  if (baseCount < multiLimit) {
    formBases.classList.remove('no-add');
  }

  changeBase();
}

var ratioCount = 0;

function addRatio() {
  var formRatios = document.getElementById('formRatios');
  var newRatio = document.createElement('label');
  var baseValue = document.getElementsByClassName('ratio')[0].value;
  newRatio.innerHTML =
  '<input type="number" class="ratio" min="1.001" value="' + baseValue + '" step="0.001" onkeyup="changeRatio()">' +
  '<button onclick="ratioSelectOpen(this)" class="ratios-select-open">r</button>' +
  '<div class="ratios-select"></div>';

  if (baseCount == 0 && ratioCount < multiLimit) {
    formRatios.appendChild(newRatio);
    ratioCount++;
  }

  if (ratioCount == 1) {
    formRatios.classList.add('multi');
    document.getElementById('formBases').classList.add('no-add');
  }

  if (ratioCount == multiLimit) {
    formRatios.classList.add('no-add');
  }
}

function removeRatio() {
  if (ratioCount > 0) {
    document.getElementById('formRatios').lastChild.remove();
    ratioCount--;
  }

  if (ratioCount == 0) {
    formRatios.classList.remove('multi');
    document.getElementById('formBases').classList.remove('no-add');
  }

  if (ratioCount < multiLimit) {
    formRatios.classList.remove('no-add');
  }

  changeRatio();
}

var ratios = document.getElementsByClassName('panel')
for (var i = 0; i < panels.length; i++)
  panels[i].onclick = function() { msPanel(this.dataset.panel)};



// Ratio selection dropdown

var ratioDropHTML =
'<a href="javascript:rS(1.067)">15:16 – minor second</a>' +
'<a href="javascript:rS(1.125)">8:9 – major second</a>' +
'<a href="javascript:rS(1.2)">5:6 – minor third</a>' +
'<a href="javascript:rS(1.25)">4:5 – major third</a>' +
'<a href="javascript:rS(1.333)">3:4 – perfect fourth</a>' +
'<a href="javascript:rS(1.414)">1:√2 – aug. fourth / dim. fifth</a>' +
'<a href="javascript:rS(1.5)">2:3 – perfect fifth</a>' +
'<a href="javascript:rS(1.6)">5:8 – minor sixth</a>' +
'<a href="javascript:rS(1.618)">1:1.618 – golden section</a>' +
'<a href="javascript:rS(1.667)">3:5 – major sixth</a>' +
'<a href="javascript:rS(1.778)">9:16 – minor seventh</a>' +
'<a href="javascript:rS(1.875)">8:15 – major seventh</a>' +
'<a href="javascript:rS(2)">1:2 – octave</a>' +
'<a href="javascript:rS(2.5)">2:5 – major tenth</a>' +
'<a href="javascript:rS(2.667)">3:8 – major eleventh</a>' +
'<a href="javascript:rS(3)">1:3 – major twelfth</a>' +
'<a href="javascript:rS(4)">1:4 – double octave</a>';

function closeRSfn(v) {
  v.classList.remove('open');
  v.nextSibling.innerHTML = '';
}
function closeRS() {
  var open = document.getElementById('formRatios').getElementsByClassName('open')
  for (var i = 0; i < open.length; i++)
    closeRSfn(open[i]);
}

var open = document.body
for (var i = 0; i < open.length; i++)
  open[i].classList.remove('open');

function ratioSelectOpen(v) {
  if (v.classList.contains('open')) {
    v.classList.remove('open');
    v.nextSibling.innerHTML = '';
    document.getElementById('formRatios').classList.remove('open');
  } else {
    closeRS();
    v.classList.add('open');
    v.nextSibling.innerHTML = ratioDropHTML;
    document.getElementById('formRatios').classList.add('open');
  }

}

function rS(v) {
  var e = document.getElementsByClassName('open')[0].previousSibling;
  e.value = v;
  closeRS();
  changeRatio()
  msPage(msBase, msUnit, msRatio);
}
