//= require '_typekit.js.erb'
//= require '_mixpanel.js.erb'
//= require '_ms.js.erb'
//= require '_util.js.erb'
//= require '_changevalue.js.erb'
//= require '_panels.js.erb'
//= require '_form.js.erb'
//= require '_code.js.erb'
//= require '_error.js.erb'
//= require '_url.js.erb'
//= require '_help.js.erb'

// Vars
var mode = 'web';
var panel = 'form';
var outputMode = 'text';
var msBase = 1;
var msUnit = 'em';
var msRatio = 1.5;
var multiLimit = 3;
var msError = false;
var msPrecision = 1000;
// upper bound of scale
var upper = 16;
// lower bound of scale
var lower = -6;

// Get URL configuration
queryURL();

function msPage(l) {

  // Normalize bases into an array
  if (typeof(msBase) === 'number') {
    msBase = [msBase];
  }
  // Pick where to render the output
  var thread = 'output';
  // seed innerHTML
  iHTML = '';
  // Loop throught outputs
  for (var i = upper; i >= lower; i--) {
    // Find the target value
    var v = ms(i,{base:msBase,ratio:msRatio})
    // Find the value to render in the style tag
    var vR = v+msUnit;
    // Find what base is being used
    var s = baseOrder()[modulo(i,msBase.length)];
    // If em/rem convert to px due to small size display bugs
    if (msUnit === 'em' || msUnit === 'rem') {
      vR = v*16+'px';
    }
    // Add to innerHTML tempalte
    iHTML = iHTML +
      '<ul class="info m'+i+'">' +
      '<li class="output-function">ms('+i+')</li> ' +
      '<li id="m'+i+'value"><span>'+Math.round(v*msPrecision)/msPrecision+msUnit+'</span></li>' +
      '</ul><div class="s'+s+' text" id="text_m'+i+'" style="font-size:'+vR+';">The quick brown fox jumps over the lazy dog</div>'
  }

  document.getElementById('output').innerHTML = iHTML;
  document.getElementById('text_m0').scrollIntoView(false);

  // URL, error handilng, and code mode
  error(msError);
  codeMode(mode,l);

  // Analytics
  mixpanel.track('scale', {
    'Units'        : msUnit,
    'Bases'        : msBase.length,
    'Base values'  : msBase,
    'Ratio values' : msRatio
  });
}
// run msPage without URL (arg l passed in through codeMode())
msPage(1);

// Scroll to the base
document.addEventListener('DOMContentLoaded', function(){
  document.getElementById('text_m0').scrollIntoView(false);
});


// If iOS web app
if (window.navigator.standalone && ( navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false )) {
  document.body.classList.add('ios-webapp');
}