html {
  background-color: $light;
}
body {
  font-family: $bernino;
  line-height: ms(.5,1);
}

* {
  @include box-sizing(border-box);
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $freight-text;
  margin: 0;
}

body, article, section, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  font-size: ms(-0.5);
  line-height: ms(.5,1);
}

a {
  &:link, &:visited, &:hover {
    @include transition(background-color, .5s);
    color: $primary;
    text-decoration: none;
  }
  &:hover, &:focus {
    text-decoration: underline;
  }
}
