@import 'compass';
@import 'breakpoint';
@import 'color-schemer';
@import 'modular-scale';
@import 'toolkit';

@charset 'utf-8';

$cs-primary: #607890;
$cs-scheme: complement;
$cs-hue-offset: 10;
$cs-color-model: rgb;

$primary: cs-primary();
$secondary: cs-secondary();
$dark: hsl(hue(cs-quadrary()), 7%, 30%);
$light: hsl(hue(cs-quadrary()), 20%, 90%);
// @include cs-test($primary $secondary $dark $light);
$negitive: #D85151;
$positive: #6ED823;

$color-multi:
  lighten($primary,10%)
  adjust-hue(lighten($primary,10%), 90deg)
  adjust-hue(lighten($primary,10%), 90deg * 2)
  adjust-hue(lighten($primary,10%), 90deg * 3)
;

$freight-text: 'freight-text-pro', Georgia, serif;
// $bernino: 'jaf-bernino-sans', Verdana, sans-serif;
$bernino: 'freight-sans-pro', Verdana, sans-serif;
$mono: 'Andale Mono', monospace;

@import 'reset';

$form-width: 16em;
$output-width: 18em;
$about-width: 30em;
$pager-height: ms(2);

$break: $form-width + $output-width + $about-width;
$break-med: $form-width + $output-width;

.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1em;
  overflow: auto;
  background-color: white;
  @include box-shadow(
    (ms(-3) * -1) 0 0 0 rgba(#000, .1),
    -1px 0 0 0 rgba(#000, .33)
  );
  border-top: ms(-3) solid $primary;
  @include transition(all .5s);
  @media (max-width: $break-med) {
    bottom: $pager-height;
    width: 96%;
  }
  .ios-webapp & {
    border-top: none;
    top: 20px;
  }
}

@import 'svg';

@import 'patterns/tabs';

@import 'modules/form';
@import 'modules/output';
@import 'modules/about';
@import 'modules/pager';
@import 'modules/advertisement';
