@import 'compass';
@import 'breakpoint';
@import 'color-schemer';
@import 'modular-scale';
@import 'toolkit';

@charset 'utf-8';

$cs-primary: #3bc8b6;
$cs-scheme: accented-analogic;
$cs-hue-offset: 10;
$cs-color-model: rgb;

$primary: cs-primary();
$secondary: cs-secondary();
$dark: hsl(hue(cs-quadrary()), 10%, 35%);
$light: hsl(hue(cs-quadrary()), 22%, 96%);
// @include cs-test($primary $secondary $dark $light);

$freight-text: 'freight-text-pro', Georgia, serif;
$freight-sans: 'freight-sans-pro', Verdana, sans-serif;

@import 'reset';

$form-width: 16em;
$output-width: 18em;
$specimen-width: 30em;
$pager-height: ms(2);

$break: $form-width + $output-width + $specimen-width;
$break-med: $form-width + $output-width;

.form, .output, .specimen {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1em;
  overflow: auto;
  background-color: white;
  @include box-shadow(
    (ms(-3) * -1) 0 0 0 rgba(#000, .1),
    -1px 0 0 0 rgba(#000, .33)
  );
  border-top: ms(-2) solid $primary;
  @include transition(all .5s);
  @media (max-width: $break-med) {
    bottom: $pager-height;
    width: 96%;
  }
}

@import 'svg';

@import 'patterns/tabs';

@import 'modules/form';
@import 'modules/output';
@import 'modules/specimen';
@import 'modules/pager';
@import 'modules/advertisement';
