@import 'compass';
@import 'breakpoint';
@import 'color-schemer';
@import 'modular-scale';
@import 'toolkit';

@charset 'utf-8';

$cs-primary: #D6681E;
$cs-scheme: accented-analogic;
$cs-hue-offset: 20;
$cs-color-model: ryb;

$primary: cs-primary();
$secondary: cs-secondary();
$dark: hsl(hue(cs-quadrary()), 10%, 30%);
$light: hsl(hue(cs-quadrary()), 22%, 96%);
// @include cs-test($primary $secondary $dark $light);

$freight-text: 'freight-text-pro', Georgia, serif;
$freight-sans: 'freight-sans-pro', Verdana, sans-serif;


body {
  font-family: $freight-sans;
}

* {
  @include box-sizing(border-box);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $freight-text;
}

body, article, section, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

$form-width: 16em;
$output-width: 6em;
$specimen-width: 30em;

.form, .output, .specimen {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1em;
  overflow: auto;
  background-color: white;
  @include box-shadow(0 0 10px 0 rgba(#000, .5));
  border-top: ms(-2) solid $primary;
}

.form {
  left: 0;
  width: $form-width;
  background-color: $dark;
  color: $light;
}
label {
  display: block;
}
input {
  display: block;
  width: 100%;
  border: 1px solid $secondary;
  background-color: $light;
  color: $dark;
  font-family: inherit;
  font-size: inherit;
  padding: .25em .5em;
  // border-radius: .25em;
  &:focus {
    border-color: $primary;
    background: white;
    outline: none;
    @include box-shadow(
      0 0 0 2px $primary
    );
  }
}

$output-item-start : -1;
$output-item-end   : 8;


.output {
  left: $form-width;
  right: $specimen-width;
  min-width: $output-width;
  overflow-x: hidden;
  li {
    display: inline;
    padding: .25em .5em;
    &:first-child {
      padding-left: 0;
    }
  }
  .info {
    white-space: nowrap;
    border-bottom: 1px solid $primary;
    color: $secondary;
    @include transition(all .5s);
  }
  .text {
    font-family: $freight-text;
    color: $dark;
    white-space:nowrap;
    @include transition(font-size .5s);
  }
}

.specimen {
  left: $form-width + $output-width;
  right: 0;
  max-width: $specimen-width;
  padding: 1em 2em 4em 1em;
  @media (min-width: $form-width + $output-width + $specimen-width) {
    left: auto;
  }
}


.contain {
}