<div class="advertisement">
  <div class="label">Advertisement</div>
  <p>More info <a href="http://nicewebtype.com/notes/2013/08/11/bringing-thoughtful-people-together-with-modular-scales/">about sponsorship</a>.</p>
</div>
