<section class="form">
  <div class="calculator-selection tabs">
    <a href="#web" class="calculator-lang tab active">Web</a>
    <a href="#sass" class="calculator-lang tab">Sass</a>
    <a href="#js" class="calculator-lang tab">JS</a>
  </div>
  <form id="form">
    <div class="bases">
      <h6 class="label">Bases</h6>

      <div id="formBases">
        <label><input type="text" value="1em" step="1" id="msBase" onkeyup="changeBase(this)"></label>
      </div>

      <a class="button-pm add" href="javascript:addBase()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>
      <a class="button-pm remove" href="javascript:removeBase()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>
    </div>

    <h6 class="label">Ratios</h6>
    <div class="ratios">

      <div id="formRatios">
        <label><input type="number" value="1.3" step="0.05" id="msRatio" onkeyup="changeRatio(this)"></label>
      </div>

      <a class="button-pm add" href="javascript:addRatio()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>
      <a class="button-pm remove" href="javascript:removeRatio()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>

    </div>
  </form>

  <h6 class="label code">Sass settings</h6>

<textarea id="ms-settings" onClick="this.select();">msBase: 1em;
msRatio: 1.3;</textarea>

  <a href="https://github.com/Team-Sass/modular-scale" target="_blank" class="code-install">Install the Sass plugin</a>

  <%= partial "partials/ad" %>

  <small>
    <p>by <a href="https://twitter.com/nicewebtype">Tim Brown</a> and <a href="https://twitter.com/scottkellum">Scott Kellum</a>.</p>
    <p>Copyright © 2010 – 2014 <a href="http://tbrown.org/">Tim Brown</a>.</p>
  </small>
</section>
