<section class="form panel" data-panel="form">
  <h1 class="logo">modularscale</h1>
  <form id="form" action="javascript:msPanel('output')">
    <div class="bases">
      <h6 class="label">Bases</h6>

      <div id="formBases">
        <label><input type="text" class="base" value="1em" step="1" onkeyup="changeBase(this,event.keyCode)"></label>
      </div>

      <a class="button-pm add" href="javascript:addBase()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>
      <a class="button-pm remove" href="javascript:removeBase()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>
    </div>

    <h6 class="label">Ratios</h6>
    <div class="ratios">

      <div id="formRatios">
        <label>
          <input type="number" class="ratio" min="1.01" value="1.5" step="0.001" onkeyup="changeRatio()">
          <ul class="ratios-select">
            <li data-value="1.067">15:16 – minor second</li>
            <li data-value="1.125">8:9 – major second</li>
            <li data-value="1.2">5:6 – minor third</li>
            <li data-value="1.25">4:5 – major third</li>
            <li data-value="1.333">3:4 – perfect fourth</li>
            <li data-value="1.414">1:√2 – aug. fourth / dim. fifth</li>
            <li data-value="1.5">2:3 – perfect fifth</li>
            <li data-value="1.6">5:8 – minor sixth</li>
            <li data-value="1.618">1:1.618 – golden section</li>
            <li data-value="1.667">3:5 – major sixth</li>
            <li data-value="1.778">9:16 – minor seventh</li>
            <li data-value="1.875">8:15 – major seventh</li>
            <li data-value="2">1:2 – octave</li>
            <li data-value="2.5">2:5 – major tenth</li>
            <li data-value="2.667">3:8 – major eleventh</li>
            <li data-value="3">1:3 – major twelfth</li>
            <li data-value="4">1:4 – double octave</li>
          </ul>
        </label>
      </div>

      <a class="button-pm add" href="javascript:addRatio()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>
      <a class="button-pm remove" href="javascript:removeRatio()">
        <svg class="svg-pm" viewBox="0 0 15 15">
          <use xlink:href="#add"></use>
        </svg>
      </a>

    </div>
    <input class="submit" type="submit"/>
  </form>

  <div class="calculator-selection tabs">
    <a href="javascript:codeMode('web')" class="calculator-lang tab web">Web</a>
    <a href="javascript:codeMode('sass')" class="calculator-lang tab sass">Sass</a>
    <a href="javascript:codeMode('js')" class="calculator-lang tab js">JS</a>
  </div>

  <div id="codeSettings" class="code-settings">

  </div>

  <%= partial "partials/ad" %>

  <small>
    <p>by <a href="https://twitter.com/nicewebtype">Tim Brown</a> and <a href="https://twitter.com/scottkellum">Scott Kellum</a>.</p>
    <p>Copyright © 2010 – 2014 <a href="http://tbrown.org/">Tim Brown</a>.</p>
  </small>
</section>
