<section class="output">
  <ul class="info m10">
    <li id="m10value"></li>
    <li>ms(10)</li>
  </ul>
  <div class="text m10" id="text_m10">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m9">
    <li id="m9value"></li>
    <li>ms(9)</li>
  </ul>
  <div class="text m9" id="text_m9">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m8">
    <li id="m8value"></li>
    <li>ms(8)</li>
  </ul>
  <div class="text m8" id="text_m8">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m7">
    <li id="m7value"></li>
    <li>ms(7)</li>
  </ul>
  <div class="text m7" id="text_m7">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m6">
    <li id="m6value"></li>
    <li>ms(6)</li>
  </ul>
  <div class="text m6" id="text_m6">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m5">
    <li id="m5value"></li>
    <li>ms(5)</li>
  </ul>
  <div class="text m5" id="text_m5">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m4">
    <li id="m4value"></li>
    <li>ms(4)</li>
  </ul>
  <div class="text m4" id="text_m4">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m3">
    <li id="m3value"></li>
    <li>ms(3)</li>
  </ul>
  <div class="text m3" id="text_m3">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m2">
    <li id="m2value"></li>
    <li>ms(2)</li>
  </ul>
  <div class="text m2" id="text_m2">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m1">
    <li id="m1value"></li>
    <li>ms(1)</li>
  </ul>
  <div class="text m1" id="text_m1">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m0">
    <li id="m0value"></li>
    <li>ms(0)</li>
  </ul>
  <div class="text m0" id="text_m0">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-1">
    <li id="mn1value"></li>
    <li>ms(-1)</li>
  </ul>
  <div class="text m-1" id="text_mn1">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-2">
    <li id="mn2value"></li>
    <li>ms(-2)</li>
  </ul>
  <div class="text m-2" id="text_mn2">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-3">
    <li id="mn3value"></li>
    <li>ms(-3)</li>
  </ul>
  <div class="text m-3" id="text_mn3">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-4">
    <li id="mn4value"></li>
    <li>ms(-4)</li>
  </ul>
  <div class="text m-4" id="text_mn4">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-5">
    <li id="mn5value"></li>
    <li>ms(-5)</li>
  </ul>
  <div class="text m-5" id="text_mn5">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-6">
    <li id="mn6value"></li>
    <li>ms(-6)</li>
  </ul>
  <div class="text m-6" id="text_mn6">The quick brown fox jumps over the lazy dog</div>
</section>
