<div class="output-mode">
  <a href="javascript:outputM('table')" class="mode-table">Table</a>
  <a href="javascript:outputM('text')" class="mode-text">Text</a>
</div>
<section class="output panel text" data-panel="output" id="output"><div></div><div></div><div></div><div></div><div></div></section>