<div class="output-mode">
  <a href="javascript:outputM('table')" class="mode-table">Table</a>
  <a href="javascript:outputM('text')" class="mode-text">Text</a>
</div>
<section class="output panel" data-panel="output" id="output">
  <ul class="info m10">
    <li class="output-function">ms(10)</li>
    <li id="m10value">57.665em</li>
  </ul>
  <div class="s0 text" id="text_m10" style="font-size: 922.640625px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m9">
    <li class="output-function">ms(9)</li>
    <li id="m9value">38.443em</li>
  </ul>
  <div class="s0 text" id="text_m9" style="font-size: 615.09375px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m8">
    <li class="output-function">ms(8)</li>
    <li id="m8value">25.629em</li>
  </ul>
  <div class="s0 text" id="text_m8" style="font-size: 410.0625px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m7">
    <li class="output-function">ms(7)</li>
    <li id="m7value">17.086em</li>
  </ul>
  <div class="s0 text" id="text_m7" style="font-size: 273.375px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m6">
    <li class="output-function">ms(6)</li>
    <li id="m6value">11.391em</li>
  </ul>
  <div class="s0 text" id="text_m6" style="font-size: 182.25px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m5">
    <li class="output-function">ms(5)</li>
    <li id="m5value">7.594em</li>
  </ul>
  <div class="s0 text" id="text_m5" style="font-size: 121.5px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m4">
    <li class="output-function">ms(4)</li>
    <li id="m4value">5.063em</li>
  </ul>
  <div class="s0 text" id="text_m4" style="font-size: 81px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m3">
    <li class="output-function">ms(3)</li>
    <li id="m3value">3.375em</li>
  </ul>
  <div class="s0 text" id="text_m3" style="font-size: 54px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m2">
    <li class="output-function">ms(2)</li>
    <li id="m2value">2.25em</li>
  </ul>
  <div class="s0 text" id="text_m2" style="font-size: 36px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m1">
    <li class="output-function">ms(1)</li>
    <li id="m1value">1.5em</li>
  </ul>
  <div class="s0 text" id="text_m1" style="font-size: 24px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m0">
    <li class="output-function">ms(0)</li>
    <li id="m0value">1em</li>
  </ul>
  <div class="s0 text" id="text_m0" style="font-size: 16px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-1">
    <li class="output-function">ms(-1)</li>
    <li id="mn1value">0.667em</li>
  </ul>
  <div class="s0 text" id="text_mn1" style="font-size: 10.666666666666666px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-2">
    <li class="output-function">ms(-2)</li>
    <li id="mn2value">0.444em</li>
  </ul>
  <div class="s0 text" id="text_mn2" style="font-size: 7.111111111111111px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-3">
    <li class="output-function">ms(-3)</li>
    <li id="mn3value">0.296em</li>
  </ul>
  <div class="s0 text" id="text_mn3" style="font-size: 4.7407407407407405px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-4">
    <li class="output-function">ms(-4)</li>
    <li id="mn4value">0.198em</li>
  </ul>
  <div class="s0 text" id="text_mn4" style="font-size: 3.1604938271604937px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-5">
    <li class="output-function">ms(-5)</li>
    <li id="mn5value">0.132em</li>
  </ul>
  <div class="s0 text" id="text_mn5" style="font-size: 2.1069958847736627px;">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-6">
    <li class="output-function">ms(-6)</li>
    <li id="mn6value">0.088em</li>
  </ul>
  <div class="s0 text" id="text_mn6" style="font-size: 1.4046639231824416px;">The quick brown fox jumps over the lazy dog</div>
</section>
