<div class="output-mode">
  <a href="javascript:outputM('table')" class="mode-table">Table</a>
  <a href="javascript:outputM('text')" class="mode-text">Text</a>
</div>
<section class="output panel text" data-panel="output" id="output"><div class="active" onclick="threadSelect(0)"></div><div onclick="threadSelect(1)"></div><div onclick="threadSelect(2)"></div><div onclick="threadSelect(3)"></div><div onclick="threadSelect(4)"></div></section>