<nav class="pager" id="pager">
  <a href="javascript:msPanel('calc')" id="nav-calc">Calculator</a>
  <a href="javascript:msPanel('output')" id="nav-output">Output</a>
  <a href="javascript:msPanel('about')" id="nav-about">About</a>
</nav>