.tabs {
  border-top: 1px solid $secondary;
  margin-top: ms(2);
  padding: 0;
}

a.tab {
  color: inherit;
  font-size: ms(-.4);
  text-decoration: none;
  //text-transform: uppercase;
  //letter-spacing: ms(-4);
  padding: ms(-3) ms(-1);
  display: inline-block;
  &:hover, &:focus {
    background: rgba($primary, .5);
  }
  body.mode-web &.web,
  body.mode-sass &.sass,
  body.mode-js &.js {
    background: darken($primary, 5%);
    color: white;
  }
}
