---
title: Modular scale style tiles
---

<section class="form">
  <ul class="calculator-selection">
    <li class="calculator-lang active">Web</li>
    <li class="calculator-lang">Sass</li>
    <li class="calculator-lang">JS</li>
  </ul>
  <form action="modularscale">
    <label for="base"><span class="label">Base</span><input type="number" value="1" step="1" id="msBase" onkeyup="changeBase(this)"></label>
    <label for="base"><span class="label">Unit</span><input type="text" value="em" id="msUnit" onkeyup="changeUnit(this)"></label>
    <label for="base"><span class="label">Ratio</span><input type="number" value="1.3" step="0.05" id="msRatio" onkeyup="changeRatio(this)"></label>
    <ul class="ratio-dropdown">
      <li class="selected">2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
      <li>2:3 – Perfect fifth</li>
    </ul>
  </form>
</section>
<section class="output">
  <ul class="info m10">
    <li id="m10value"></li>
    <li>ms(10)</li>
  </ul>
  <div class="text m10" id="text_m10">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m9">
    <li id="m9value"></li>
    <li>ms(9)</li>
  </ul>
  <div class="text m9" id="text_m9">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m8">
    <li id="m8value"></li>
    <li>ms(8)</li>
  </ul>
  <div class="text m8" id="text_m8">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m7">
    <li id="m7value"></li>
    <li>ms(7)</li>
  </ul>
  <div class="text m7" id="text_m7">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m6">
    <li id="m6value"></li>
    <li>ms(6)</li>
  </ul>
  <div class="text m6" id="text_m6">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m5">
    <li id="m5value"></li>
    <li>ms(5)</li>
  </ul>
  <div class="text m5" id="text_m5">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m4">
    <li id="m4value"></li>
    <li>ms(4)</li>
  </ul>
  <div class="text m4" id="text_m4">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m3">
    <li id="m3value"></li>
    <li>ms(3)</li>
  </ul>
  <div class="text m3" id="text_m3">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m2">
    <li id="m2value"></li>
    <li>ms(2)</li>
  </ul>
  <div class="text m2" id="text_m2">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m1">
    <li id="m1value"></li>
    <li>ms(1)</li>
  </ul>
  <div class="text m1" id="text_m1">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m0">
    <li id="m0value"></li>
    <li>ms(0)</li>
  </ul>
  <div class="text m0" id="text_m0">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-1">
    <li id="mn1value"></li>
    <li>ms(-1)</li>
  </ul>
  <div class="text m-1" id="text_mn1">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-2">
    <li id="mn2value"></li>
    <li>ms(-2)</li>
  </ul>
  <div class="text m-2" id="text_mn2">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-3">
    <li id="mn3value"></li>
    <li>ms(-3)</li>
  </ul>
  <div class="text m-3" id="text_mn3">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-4">
    <li id="mn4value"></li>
    <li>ms(-4)</li>
  </ul>
  <div class="text m-4" id="text_mn4">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-5">
    <li id="mn5value"></li>
    <li>ms(-5)</li>
  </ul>
  <div class="text m-5" id="text_mn5">The quick brown fox jumps over the lazy dog</div>
  <ul class="info m-6">
    <li id="mn6value"></li>
    <li>ms(-6)</li>
  </ul>
  <div class="text m-6" id="text_mn6">The quick brown fox jumps over the lazy dog</div>
</section>
<article class="specimen">
  <div class="contain">
    <ul>
      <li>Text</li>
      <li>Specimine</li>
      <li>Code</li>
    </ul>
    <h1>Lorem ipsum dolor sit amet, consectetur</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, ipsam, reiciendis, esse placeat ratione ipsa nemo repellat asperiores neque hic eveniet necessitatibus cupiditate libero voluptate ab ducimus vero sit voluptatem.</p>
    <p>Quas, voluptas, cumque, deleniti, quod aspernatur odio ipsam ab illo eveniet magnam ullam asperiores placeat recusandae dolorem esse architecto suscipit ratione officiis dolorum fugit veritatis facilis tempora nemo distinctio ex.</p>
    <p>Dolorem, minus, minima, eveniet, odio laborum dolores ad consequuntur nesciunt ipsum ea repellendus alias accusamus! Ipsam, enim, reiciendis, nobis cum mollitia voluptas dolorum voluptatem incidunt hic perferendis labore numquam rerum.</p>
    <p>Eaque, ullam, debitis similique nulla illo error earum libero id velit pariatur quis dolores amet iusto quibusdam enim maxime modi laborum ex nostrum nam necessitatibus quisquam corporis dolore laudantium reiciendis.</p>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, assumenda, maiores tenetur quo aliquam commodi dicta error qui nostrum nam aliquid iste cum labore amet aut consequuntur atque ipsa sit.</p>
    <p>Ea, eos, enim, iure deleniti praesentium totam quos libero impedit laboriosam et maiores odit tempore sint alias sapiente minima porro quas aperiam ut a ducimus blanditiis veniam culpa ipsam nostrum.</p>
    <p>Aperiam, perspiciatis tempora sequi non veritatis delectus nobis assumenda amet unde hic. Itaque, quidem delectus pariatur ullam assumenda placeat id tempore enim accusamus qui tempora iusto nesciunt nobis. Quibusdam, consequatur.</p>
    <p>Assumenda, consequatur consequuntur voluptates sapiente magni itaque sunt provident nulla omnis magnam quo explicabo ab. Aliquam, omnis quasi voluptatem explicabo doloremque inventore quas ipsam? Reiciendis velit dolor quis ex debitis!</p>
    <p>Iste, facere, ratione nihil cumque incidunt voluptatibus minus fugiat culpa ex est cupiditate ipsam vero quis harum enim amet consequatur labore quasi odio excepturi maxime pariatur quae facilis omnis numquam?</p>
    <p>Veniam, eius, fugiat, vel maiores ipsum architecto temporibus adipisci modi vero sit autem suscipit similique ea animi impedit explicabo optio laborum consequatur velit provident. Quae, molestiae illum magni esse aliquid.</p>
  </div>
</article>
