.about {
  padding: 1em 2em 4em 1em;
  width: $about-width;
  right: $about-width * -1 + 1;
  .panel-about & {
    @include transform(translateX($about-width * -1 + 1));
  }
  @media (max-width: $break-med) {
    left: 2%;
    width: 96%;
    @include transform(translateX(100%));
    .panel-about & {
      @include transform(translateX(2%));
    }
  }
  h1, h2 {
  }
  h2 {
    border-top: ms(-5) solid mix($primary, white);
    font-weight: 400;
  }
}
