.about {
  z-index: 1;
  padding: 1em 2em 4em 1em;
  width: $about-width;
  right: $about-width * -1 + 1;
  line-height: ms(1,1);
  .panel-about & {
    z-index: 1;
    @include transform(translateX($about-width * -1 + 1));
  }
  @media (max-width: $break-med) {
    left: 2%;
    width: 96%;
    @include transform(translateX(100%));
    .panel-about & {
      @include transform(translateX(2%));
    }
  }
  h2 {
    color: $dark;
    font-weight: 400;
    font-size: ms(1);
    line-height: 1;
    margin-top: ms(-1);
    &:first-child {
      margin-top: 0;
    }
  }
  ol,
  ul {
    padding-left: ms(1);
    list-style-type: square;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    list-style-type: inherit;
    font-size: ms(-.33);
    margin-bottom: ms(-1);
  }
  code {
    background-color: lighten($light,5%);
    border: 1px solid $light;
    padding: ms(-4) ms(-2);
    color: $primary;
  }
  a {
    text-decoration: underline;
  }
}

.scale-add,
.scale-remove,
.about-toggle {
  display: none;
  bottom: 1em;
  right: (1em / .75) - 1em;
  z-index: 1;
  .panel-about & {
    z-index: -1;
  }
  &:hover, &:focus {
    background: lighten($primary,10%);
  }
  @media (min-width: $break-med) {
    display: block;
  }
}

.about-toggle.about-toggle {
  z-index: 1;
}
a.scale-add {
  top: 4em;
  bottom: auto;
  display: block;
}
a.scale-remove {
  top: 7em;
  bottom: auto;
  display: block;
  @include transform(rotateZ(45deg));
}