#carbonads {
  background: lighten($light, 5%);
  border-radius: 3px;
  margin: ms(-1) 0;
  padding: ms(-1) ms(-1) ms(-2);
  font-size: ms(-.5);
  img {
    display: block;
    margin: 0 0 ms(-1);
  }
  .carbon-poweredby {
    opacity: .6;
    display: block;
    margin: ms(-2) 0 0;
  }
}
