.logo {
  font-family: $freight-sans;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: $secondary;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.form {
  left: 0;
  width: $form-width;
  background-color: $dark;
  color: $light;
  text-shadow: 0 1px rgba(#000, .5);
  @media (max-width: $break-med) {
    width: 96%;
  }
  form {
    margin-bottom: ms(1);
  }
  .label {
    border-top: ms(-3) solid darken($dark, 3%);
    font-size: ms(-.5);
    font-family: $freight-sans;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: ms(-3);
    margin: ms(1) 0 ms(-1);
    padding: ms(-3) 0 0;
    color: tint($dark, 80%);
    &:first-child {
      border-top: none;
      margin-top: ms(-1);
    }
  }
}

.button-pm {
  background: $primary;
  border-radius: 50%;
  padding: 0;
  border: 2px solid white;
  position: absolute;
  margin-top: (ms(2) + ms(-6)) * -1;
  right: 4.6em;
  font-size: .75em;
  @include transition(all .25s);
  &:hover {
    @include animation(pop-plus .25s);
    animation-timing-function: ease-out;
    background: darken($primary, 5%);
  }
  &.remove {
    right: 1.75em;
    opacity: 0;
    @include transform(rotateZ(225deg) scale(0));
    &:hover, &:focus {
      @include animation(pop-minus .25s);
      animation-timing-function: ease-out;
    }
    .multi + a + & {
      opacity: 1;
      @include transform(rotateZ(45deg) scale(1));
    }
  }
  &:focus {
    @include animation(pop-plus .25s);
    background: lighten($primary, 10%);
  }
}

@include keyframes(pop-plus) {
  0% {
    @include transform(scale(1.1) rotateZ(90deg));
  }
}
@include keyframes(pop-minus) {
  0% {
    @include transform(scale(1.1) rotateZ(90deg + 45));
  }
}

input {
  display: block;
  width: 100%;
  border: 1px solid $secondary;
  background-color: white;
  color: $dark;
  font-family: inherit;
  font-size: inherit;
  padding: ms(-2) ms(-1);
  margin-bottom: 1em;
  border-radius: 0;
  @include animation(form .2s 1 cubic-bezier(.65, -.25, .7, 1.5));
  // border-radius: .25em;
  &:focus {
    border-color: $primary;
    outline: none;
    @include box-shadow(
      0 0 0 2px $primary
    );
  }
  &:invalid {
    border-color: $negitive;
    outline: none;
    @include box-shadow(
      0 0 0 2px $negitive
    );
  }
}

@include keyframes(form) {
  0% {
    @include transform(translateY(-100%));
    opacity: 0;
  }
}


#ms-settings {
  white-space: pre-wrap;
  color: $secondary;
  background: darken($dark, 5%);
  -moz-appearance:none;
  display: block;
  resize: none;
  outline: none;
  padding: ms(-1);
  margin: 0;
  border: none;
  margin: 0;
  width: 100%;
  font-family: $mono;
}

a.code-install {
  background: darken($primary, 5%);
  color: white;
  padding: ms(-3) ms(-2);
  margin-bottom: ms(0);
  display: block;
  text-align: right;
  &:hover {
    background: darken($primary, 10%);
    text-decoration: none;
  }
}


