.logo {
  font-size: ms(1.5);
  letter-spacing: 0.05em;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 ms(-1);
}

.form {
  left: 0;
  width: $form-width;
  background-color: $dark;
  color: $light;
  text-shadow: 0 1px rgba(#000, .5);
  @media (max-width: $break-med) {
    width: 96%;
  }
  form {
    margin-bottom: ms(1);
    position: relative;
  }
  .label {
    border-top: ms(-3) solid darken($dark, 3%);
    font-family: inherit;
    font-size: ms(-.5);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: ms(-4);
    margin: ms(2) 0 ms(-1);
    padding: ms(-2) 0 0;
    color: tint($dark, 80%);
    &:first-child {
      border-top: none;
      margin-top: ms(-1);
    }
  }
}

.button-pm {
  background: $primary;
  border-radius: 50%;
  padding: 0;
  border: 2px solid white;
  position: absolute;
  margin-top: (ms(2) + ms(-6)) * -1;
  right: 4.6em;
  font-size: .75em;
  @include transition(all .25s);
  &:hover, &:focus {
    @include animation(pop-plus .25s);
    animation-timing-function: ease-out;
    background: darken($primary, 5%);
  }
  &.remove {
    right: 1.75em;
    opacity: 0;
    @include transform(rotateZ(225deg) scale(0));
    &:hover, &:focus {
      @include animation(pop-minus .25s);
      animation-timing-function: ease-out;
    }
    .multi + a + & {
      opacity: 1;
      @include transform(rotateZ(45deg) scale(1));
    }
  }
  .no-add + & {
    @include transform(rotateZ(-270deg) scale(0));
  }
  #formRatios.open ~ & {
    display: none;
  }
}

@include keyframes(pop-plus) {
  0% {
    @include transform(scale(1.1) rotateZ(90deg));
  }
}
@include keyframes(pop-minus) {
  0% {
    @include transform(scale(1.1) rotateZ(90deg + 45));
  }
}

%tabularlining {
  -moz-font-feature-settings:"lnum" 1, "tnum" 1;
  -moz-font-feature-settings:"lnum=1, tnum=1";
  -ms-font-feature-settings:"lnum" 1, "tnum" 1;
  -o-font-feature-settings:"lnum" 1, "tnum" 1;
  -webkit-font-feature-settings:"lnum" 1, "tnum" 1;
  font-feature-settings:"lnum" 1, "tnum" 1;
}

input {
  display: block;
  width: 100%;
  border: 0 solid nth($color-multi, 1);
  border-width: 1px 1px 1px ms(-2);
  background-color: white;
  color: $dark;
  font-family: inherit;
  font-size: inherit;
  @extend %tabularlining;
  padding: ms(-2) ms(-1);
  margin-bottom: 1em;
  border-radius: 0;
  -webkit-appearance: none;
  @include animation(form .2s 1 cubic-bezier(.65, -.25, .7, 1.5));
  // border-radius: .25em;
  label:nth-child(2) & {
    border-color: nth($color-multi, 2);
  }
  label:nth-child(3) & {
    border-color: nth($color-multi, 3);
  }
  label:nth-child(4) & {
    border-color: nth($color-multi, 4);
  }
  &:focus {
    border-color: $primary;
    @include box-shadow(
      0 0 0 2px $primary
    );
  }
  &.submit {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    width: 0;
  }
  #formRatios & {
    border-left-width: ms(1);
  }
}

@include keyframes(form) {
  0% {
    @include transform(translateY(-100%));
    opacity: 0;
  }
}

.code-settings {
  margin-bottom: ms(1);
}

#ms-settings {
  white-space: pre-wrap;
  color: $secondary;
  background: darken($dark, 5%);
  -moz-appearance:none;
  display: block;
  resize: none;
  padding: ms(-1);
  margin: ms(1) 0 0;
  border: none;
  width: 100%;
  font-family: $mono;
}

a.code-install {
  background: darken($primary, 5%);
  color: white;
  padding: ms(-3) ms(-2);
  display: block;
  text-align: right;
  &:hover {
    background: darken($primary, 10%);
    text-decoration: none;
  }
}

.ratios-select-open {
  position: absolute;
  width: ms(1);
  height: (ms(-3)*2)+ms(1);
  @include transform(translateY(-100%));
  margin-top: -1em;
  text-align: center;
  line-height: 2;
  color: #fff;
  z-index: 1;
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  font-style: italic;
}

.ratios-select {
  position: absolute;
  background: darken($primary, 5%);
  width: 100%;
  text-shadow: 0 1px rgba(#000, .33);
  margin-top: -1em;
  margin-bottom: ms(1);
  cursor: pointer;
  z-index: 2;
  a {
    display: block;
    color: inherit;
    padding: ms(-1);
    border-top: 1px solid $secondary;
    &:hover {
      background: darken($primary, 10%);
      text-decoration: none;
    }
  }
}
