.logo {
  font-size: ms(1.8);
  letter-spacing: 0.01em;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 ms(-1);
}

.form {
  left: 0;
  width: $form-width;
  background-color: $light;
  color: $dark;
  // text-shadow: 0 1px rgba(#000, .5);
  @media (max-width: $break-med) {
    width: 96%;
  }
  form {
    position: relative;
  }
}

.label {
  font-family: inherit;
  font-size: ms(-.5);
  font-weight: 400;
  letter-spacing: ms(-5);
  margin: ms(2) 0 ms(-1);
  padding: ms(-2) 0 0;
  &:first-child {
    border-top: none;
    margin-top: ms(-1);
  }
  &.max .min {
    opacity: .3;
  }
  &.min .max {
    opacity: .3;
  }
}

.error {
  background: $negitive;
  padding: ms(-3) ms(-1);
  color: white;
  border: 2px solid mix($negitive, $light);
  @include transition(all .25s);
  opacity: 1;
  margin: 0 0 -1em;
  &:empty {
    opacity: 0;
    padding: 0 ms(-1);
    margin: -1em 0 -1em;
  }
}

.button-pm {
  background: $primary;
  border-radius: 50%;
  padding: 0;
  border: 1px solid white;
  position: absolute;
  margin-top: (ms(2) + ms(-6)) * -1;
  right: 4.6em;
  font-size: .75em;
  @include transition(all .25s);
  &:hover, &:focus {
    @include animation(pop-plus .25s);
    animation-timing-function: ease-out;
    background: darken($primary, 5%);
  }
  &.remove {
    right: 1.75em;
    opacity: 0;
    @include transform(rotateZ(225deg) scale(0));
    &:hover, &:focus {
      @include animation(pop-minus .25s);
      animation-timing-function: ease-out;
    }
    .multi + a + & {
      opacity: 1;
      @include transform(rotateZ(45deg) scale(1));
    }
  }
  .no-add + & {
    @include transform(rotateZ(-270deg) scale(0));
  }
  #formRatios.open ~ & {
    display: none;
  }
}

@include keyframes(pop-plus) {
  0% {
    @include transform(scale(1.1) rotateZ(90deg));
  }
}
@include keyframes(pop-minus) {
  0% {
    @include transform(scale(1.1) rotateZ(90deg + 45));
  }
}

%tabularlining {
  -webkit-font-feature-settings:"lnum" 1, "tnum" 1;
  font-feature-settings:"lnum" 1, "tnum" 1;
}

label {
  &:before {
    position: absolute;
    width: 1em;
    right: 0;
    text-align: center;
    content: 'a';
    color: darken(nth($color-multi, 1), 10%);
  }
  &:nth-child(2):before {
    content: 'b';
    color: darken(nth($color-multi, 2), 10%);
  }
  &:nth-child(3):before {
    content: 'c';
    color: darken(nth($color-multi, 3), 10%);
  }
  &:nth-child(4):before {
    content: 'd';
    color: darken(nth($color-multi, 4), 10%);
  }
  #formRatios &:before {
    content: '';
  }
}

input {
  display: block;
  width: 100%;
  border: 0 solid nth($color-multi, 1);
  border-width: 1px 1px 1px ms(-2);
  background-color: white;
  color: $dark;
  font-family: inherit;
  font-size: inherit;
  @extend %tabularlining;
  padding: ms(-2) ms(-1);
  margin-bottom: 1em;
  border-radius: 0;
  -webkit-appearance: none;
  label:nth-child(2) & {
    border-color: nth($color-multi, 2);
  }
  label:nth-child(3) & {
    border-color: nth($color-multi, 3);
  }
  label:nth-child(4) & {
    border-color: nth($color-multi, 4);
  }
  &:focus {
    @include box-shadow(
      0 0 0 2px $primary
    );
  }
  &.submit {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    width: 0;
  }
  #formRatios & {
    border-left-width: ms(1.5);
  }
}

.code-settings {
  margin-bottom: ms(1);
}

#ms-settings {
  white-space: pre-wrap;
  color: $secondary;
  background: darken($light, 5%);
  -moz-appearance:none;
  display: block;
  resize: none;
  padding: ms(-1);
  margin: ms(1) 0 0;
  border: none;
  width: 100%;
  font-family: $mono;
}

a.code-install {
  background: darken($primary, 5%);
  color: white;
  padding: ms(-3) ms(-2);
  display: block;
  font-size: ms(-.4);
  text-align: right;
  &:hover {
    background: darken($primary, 10%);
    text-decoration: none;
  }
}

.ratios-select-open {
  position: absolute;
  width: ms(1.5);
  height: (ms(-3)*2)+ms(1);
  @include transform(translateY(-100%));
  margin-top: -1em;
  color: mix($primary, white, 10%);
  cursor: pointer;
}

.ratios-select-svg {
  width: ms(-1);
  height: ms(-1);
  margin: .7em 0 0 .7em;
}

.ratios-select {
  position: absolute;
  background: darken($primary, 5%);
  color: white;
  width: 100%;
  margin-top: -1em;
  margin-bottom: ms(1);
  cursor: pointer;
  z-index: 2;
  a {
    display: block;
    color: inherit;
    padding: ms(-1);
    border-top: 1px solid $primary;
    &:hover {
      background: darken($primary, 10%);
      text-decoration: none;
    }
  }
}

.routput {
  opacity: .8;
  margin: (ms(-1) * -1) 0 0 ms(2);
  @extend %tabularlining;
}

// Help text
.howto {
  font-size: ms(0);
  padding-bottom: ms(-1);
  border-bottom: 1px rgba(0,0,0,0.1) solid;
}
.helptext {
  display: none;
  //font-size: 0.9rem;
  font-size: ms(-0.4);
  body.help & {
    display: block;
  }
}

// Credits
.credits {
  display: block;
  margin-top: ms(2);
  border-top: 1px rgba(0,0,0,0.1) solid;
}
