$output-item-start : -1;
$output-item-end   : 8;


.output {
  left: $form-width;
  right: $specimen-width;
  overflow-x: hidden;
  li {
    display: inline;
    padding: .25em .5em;
    &:first-child {
      padding-left: 0;
    }
  }
  .info {
    font-family: $mono;
    white-space: nowrap;
    border-bottom: 1px solid $primary;
    color: $secondary;
  }
  .text {
    font-family: $freight-text;
    color: $dark;
    white-space:nowrap;
    position: relative;
    line-height: 1;
    margin-bottom: ms(-2, 1rem);
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      right: 100%;
      width: 1rem;
      margin-right: ms(-2, 1rem);
      background: tint(nth($color-multi, 1), round(ms(-1, 100%)));
    }
    &.s2 {
      background: tint(nth($color-multi, 2), round(ms(-1, 100%)));
    }
    &.s3 {
      background: tint(nth($color-multi, 3), round(ms(-1, 100%)));
    }
    &.s4 {
      background: tint(nth($color-multi, 4), round(ms(-1, 100%)));
    }
    &.m0:before {
      background: nth($color-multi, 1);
    }
  }
  @media (max-width: $break) {
    right: ms(-1);
  }
  @media (max-width: $break-med) {
    left: 0;
    @include transform(translateX(100%));
    .panel-output &,
    .panel-about & {
      @include transform(translateX(2%));
    }
  }
}
