$output-item-start : -1;
$output-item-end   : 8;


.output {
  left: $form-width;
  right: 1em;
  overflow-x: hidden;
  padding-top: ms(2);
  li {
    padding: .25em .5em;
    display: flex;
    &:first-child {
      padding-left: 0;
    }
  }
  .output-function {
    width: 4em;
    font-weight: bold;
    .mode-web & {
      display: none;
    }
  }
  .info {
    font-family: $mono;
    white-space: nowrap;
    border-top: 1px solid $primary;
    color: $secondary;
    display: flex;
    width: 100%;
    span {
      min-width: 6em;
      margin-right: 1em;
    }
  }
  .text {
    font-family: $freight-text;
    color: $dark;
    white-space:nowrap;
    position: relative;
    line-height: 1;
    margin: 0 -16px ms(-2, 1rem);
    padding: 0 0 ms(-4.5) 16px;
    pointer-events: none;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      right: 100%;
      width: ms(-1, 16px);
      height: 1em;
      margin-right: ms(-1, -16px);
      background: nth($color-multi, 1);
    }
    &:after {
      content: 'a';
      position: absolute;
      top: -17px;
      left: 1px;
      font-size: 16px;
      font-family: $bernino;
      color: darken(nth($color-multi, 1), 5%);
    }
  }
  .s1:before {
    background: nth($color-multi, 2);
  }
  .s1:after {
    content: 'b';
    color: darken(nth($color-multi, 2), 5%);
  }
  .s2:before {
    background: nth($color-multi, 3);
  }
  .s2:after {
    content: 'c';
    color: darken(nth($color-multi, 3), 5%);
  }
  .s3:before {
    background: nth($color-multi, 4);
  }
  .s3:after {
    content: 'd';
    color: darken(nth($color-multi, 4), 5%);
  }
  @media (max-width: $break-med) {
    left: 0;
    @include transform(translateX(100%));
    .panel-output &,
    .panel-about & {
      @include transform(translateX(2%));
    }
  }

  &.table {
    .text {
      display: none;
    }
    ul:first-child {
      border-top: none;
    }
  }
}

@media (max-width: 42em) {
  .at16 {
    display: none;
  }
}

#text_m0:before {
  background: $dark;
}



.output-mode {
  position: fixed;
  z-index: 1;
  left: $form-width + ms(-1);
  background: $primary;
  display: table;
  border-top: none;
  @include box-shadow(
    0 ms(-3) 0 0 rgba(0,0,0,0.05),
    0 1px 0 0 rgba(0,0,0,0.1)
  );
  overflow: hidden;
  @include transition(all .5s);
  a {
    font-size: ms(0);
    font-weight: 300;
    padding: ms(-1) ms(0) ms(-1);
    color: white;
    height: ms(0);
    display: table-cell;
    border-left: 1px solid mix(white, $primary);
    &:first-child {
      border: none;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      background: darken($primary, 5%);
    }
  }
  @media (max-width: $break-med) {
    @include transform(translateY(-100%));
    left: ms(-1) * 2;
    .panel-output & {
      @include transform(translateY(0));
    }
    .panel-output.ios-webapp & {
      top: 20px;
    }
  }
}
