.pager {
  display: none;
  position: fixed;
  bottom: 0;
  height: $pager-height;
  width: 100%;
  background: $primary;
  @include box-shadow(
    0 (ms(-3) * -1) 0 0 rgba(#000, .1),
    0 -1px 0 0 rgba(#000, .33)
  );
  a {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-left: 1px solid darken($primary, 10%);
    width: 33.34%;
    text-shadow: 0 1px 0 darken($primary, 10%);
    &:hover {
      text-decoration: none;
    }
    &:first-child {
      border: none;
    }
  }
  @media (max-width: $break) {
  }
  @media (max-width: $break-med) {
    display: table;
  }
}

.pager:after {
  content: '•';
  position: absolute;
  text-align: center;
  width: 33.334%;
  left: 0;
  bottom: ms(-4);
  font-size: .67em;
  line-height: 1;
  color: white;
  @include transition(all .5s);
  .panel-output & {
    @include transform(translateX(100%));
  }
  .panel-about & {
    @include transform(translateX(200%));
  }
}